.accordion {
  .accordion-item {
    margin-bottom: 1.5rem;
    background: #0f0d0c;
    border: 1px solid hsla(36, 49%, 90%, 0.2);
  }

  .accordion-header {
    margin-bottom: 0;

    .accordion-button {
      position: relative;
      width: 100%;
      padding: 1.5rem 3rem 1.5rem 1.5rem;
      text-align: left;
      font-family: $secondary-font;
      color: inherit;
      background: transparent;
      border: transparent;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f2e8d9' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 2.5rem;
        background-position: center;
      }

      &[aria-expanded="true"] {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f2e8d9' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
        }
      }
    }
  }

  .accordion-body {
    padding: 1.5rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
